div {
    
    /*background-color: white;*/
    text-align:center;
}
.container{
    margin:20px;

 }
body {
    background-image: url("images/gotham.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Libre Baskerville', serif;
    color: #ffffff;
}
.col-md-6{
	font-size: 35px;
   width:100%;
  text-align: center;
  margin-top: 40px;

}

.col-md-4{
	margin-top: 40px;
}